@use './_variablescolor'
*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: Playpen Sans

body
    background: variablescolor.$bodyl2 
    display: flex
    align-items: center
    justify-content: center
    height: 100vh
h1
    color: variablescolor.$font-color
    padding: 0 0 0.9rem 0 
ol
    padding: 10px 0px 0px 0px
li
    list-style: none
    display: flex
    justify-content: space-between
    padding: 0px
    margin-top: 20px
    color: variablescolor.$font-color

