@use '../base/_variablescolor'


.container
    min-width: 500px
    max-width: 600px
    height: auto
    padding: 2rem
    background-color: variablescolor.$container
    border: 2px solid variablescolor.$bnt-task
    border-radius: 15px
    box-shadow: 10px 5px 10px 1px variablescolor.$container