@use '../base/_variablescolor'



.input-task
    width: 100%
    padding: 0.4rem
    border: none
    border-radius: 4px
    background: transparent
    color: variablescolor.$font-input 
    border-bottom: 3px solid #ccc  
    transition: 0.5s
    &:focus
        outline: none
        border-radius: 3px
        border-bottom: 3px solid variablescolor.$bnt-task
        box-shadow: 0 0 0 0 variablescolor.$bnt-task inset, 0 0 5px 2px variablescolor.$bnt-task


.button-task
    cursor: pointer
    margin-top: 10px 
    width: 100%
    padding: 0.7rem
    border: none
    border-radius: 5px 
    background: variablescolor.$bnt-task
    color: variablescolor.$font-input
    transition: all 0.4s ease-in-out
    &:hover
        background: #17709634
        box-shadow: 0 0 10px 0 variablescolor.$bnt-task inset, 0 0 10px 4px variablescolor.$bnt-task


.Off
    padding: 50px 50px 50px
    color: variablescolor.$font-input
    text-align: center