@use '../base/_variablescolor'



.input-task
    width: 100%
    padding: 0.4rem
    border: none
    background: transparent
    color: variablescolor.$font-input    
    &:focus
    outline: none
    border-radius: 2px 
    border-bottom: 3px solid variablescolor.$bnt-task

.button-task
    cursor: pointer
    margin-top: 10px 
    width: 100%
    padding: 0.4rem
    border: none
    border-radius: 5px 
    background: variablescolor.$bnt-task

.Off
    padding: 20px 0px 0px
    color: variablescolor.$font-input
    text-align: center